// Theme colors

// primary colors
$blue-25: #f5fbff;
$blue-50: #f0f9ff;
$blue-100: #e0f2fe;
$blue-200: #b9e6fe;
$blue-300: #7cd4fd;
$blue-400: #36bffa;
$blue-500: #0ba5ec;
$blue-600: #0086c9;
$blue-700: #026aa2;
$blue-800: #065986;
$blue-900: #0b4a6f;

$purple-25: #f9f9fe;
$purple-50: #f2f3ff;
$purple-100: #e7e5fa;
$purple-200: #cfcbf5;
$purple-300: #b8b2f1;
$purple-400: #a098ec;
$purple-500: #887ee7;
$purple-600: #786fcc;
$purple-700: #5a5399;
$purple-800: #5720b7;
$purple-900: #3c3866;

//secondary colors
$grey-25: #fcfcfd;
$grey-50: #f9fafb;
$grey-100: #f8fafc;
$grey-200: #eaecf0;
$grey-300: #d0d5dd;
$grey-400: #98a2b3;
$grey-500: #667085;
$grey-600: #475467;
$grey-700: #344054;
$grey-800: #1d2939;
$grey-900: #101828;

//success colors
$green-25: #f6fef9;
$green-50: #ecfdf3;
$green-100: #d1fadf;
$green-200: #a6f4c5;
$green-300: #6ce9a6;
$green-400: #32d583;
$green-500: #12b76a;
$green-600: #039855;
$green-700: #027a48;
$green-800: #05603a;
$green-900: #054f31;

//warning colors
$yellow-25: #fffcf5;
$yellow-50: #fffaeb;
$yellow-100: #fef0c7;
$yellow-200: #fedf89;
$yellow-300: #fec84b;
$yellow-400: #fdb022;
$yellow-500: #f79009;
$yellow-600: #dc6803;
$yellow-700: #b54708;
$yellow-800: #933700;
$yellow-900: #7a2e0e;

//danger colors
$red-25: #fffbfa;
$red-50: #fef3f2;
$red-100: #fef4e2;
$red-200: #fecdca;
$red-300: #fda29b;
$red-400: #f97066;
$red-500: #f04438;
$red-600: #d92d20;
$red-700: #b42318;
$red-800: #912018;
$red-900: #7a271a;

//dark
$dark: #000000;
$light: #fff;
